/*.wp_apprentices .button {
    height: 22px;
    line-height: 16px;
}*/
.payment-reject-form {
    display: inline;
}

.label,
.status-buttons {
    color: white!important;
    padding: 4px!important;
    border: none!important;
}

.label-danger {
    background-color: #d54e21!important;
}

.label-success {
    background-color: #7ad03a!important;
}

.label-warning {
    background-color: #f0ad4e!important;
}

.status-buttons.view-bill {
    padding: 4px;  
    background-color: #222;
}

.status-buttons.view-bill:hover {
    color:#222!important;
    background-color: inherit;
}

#pass {
    width: 72%;
}